body{
    font-family: 'Roboto', sans-serif;
    line-height: 1.65;
    margin: 0;
}
h1{
    font-size: 45px;
    font-weight: 400;
}
p{
    color: dimgray;
    text-align: justify;
}
.container{
    width: 1170px;
    margin: 0 auto;
}
/* Start section-area-one */
#section-area-one{
    padding-top: 80px;
    padding-bottom: 100px;
    background-size: cover;
    overflow: hidden;
}
#section-area-one header{}
.introduce-area{
    width: 50%;
    float: left;
}
.introduce-area h1{}
.introduce-area span{
    color: #EC4C76;
    font-weight: 700;
}
.introduce-area p{
    margin-bottom: 50px;
}
.link-button{
    color: #fff;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-weight: 700;
    background: #EC4C76;
}
.introduce-area img{
    width: 80%;
    float: right;
}
/* End section-area-one */

/* Start section-area-two */
#section-area-two{
    background-size: cover;
    overflow: hidden;
    padding-top: 80px;
    padding-bottom: 100px;
}
.biography-area{
    width: 50%;
    float: left;
}
.biography-area img{
    width: 80%;
}
.biography-area h1{}
.biography-area p{
    margin-bottom: 50px;
}
/* End section-area-two */

/* Start section-area-three */
#section-area-three{
    overflow: hidden;
    background-size: cover;
    padding-top: 80px;
    padding-bottom: 100px;
    background-color: #F8F9FC;
}
.work-area{
    /* width: 33%;
    float: left; */
}
.work-area h1{
    text-align: center;
}
.project{
    float: left;
    width: 33%;
}
.project img{
    width: 100%;
}
.box{
    background-color: #fff;
    padding: 20px;
    margin-right: 20px;
    border-radius: 10px;
    box-shadow: 5px 5px 5px #888888;
}

/* End section-area-three */

/* Start section-area-four */
#section-area-four{
    padding-top: 80px;
    padding-bottom: 100px;
    text-align: center;
}
.purpleBackground{
    position: relative;
}
.purpleBackground img{
    width: 70%;
    
}
.orange{
    color: tomato;
}
.purpleBackgroundText h4{
    color: #fff;
    font-size: 40px;
    float: left;
    position: absolute;
    top: 10%;
    left: 20%;
}
.purpleBackgroundText button{
    float: left;
    position: absolute;
    top: 80px;
    left: 825px;
    background-color: tomato;
    padding: 20px 35px;
    border-radius: 5px;
    border: none;
    color: #fff;
}
/* End section-area-four */

/* Start section-area-five */
#section-area-five{
    margin-top: 50px;
    margin-bottom: 50px;
}
#section-area-five footer{}
#section-area-five footer h3{
    text-align: center;
}
#section-area-five footer h4{
    text-align: center;
}
/* End section-area-five */